.App {
  display: flex;
}

.title {
  width: 100px;
  padding: 20px;
}



.show-all {
  width: 300px;
  margin: 0 auto;
}

.show-all>button {
  margin: 0 auto;
  color: grey;
  width: 100px;
  height: 30px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: silver;
  cursor: pointer;
}

.show-all>button:hover {
  background-color: rgba(61, 61, 61, 0.541);
  color: white;
}


@media only screen and (max-width: 400px) {
  .App {
    display: block;
  }

  .cat-nav {
    margin: 0 auto;
  }
}